@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: sans-serif;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.counter-div {
    width: 40rem;
    border: 1px solid grey;
    padding: 1rem;
    background-color: pink;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.counter-div > * {
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

button.subtract {
    background-color: orangered;
}

button.reset {
    background-color: rebeccapurple;
}

button.add {
    background-color: green;
}