@import url('https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

.container{
    max-width: 900px;
    margin-top: 20px;
    padding: 0 20px;
}

.user {
    width: 90%;
    border: 1px solid #eee;
    padding: 5px;
}

.user > * {
    margin: 5px 0;
}

button {
    padding: 1rem;
}

hr {
    background-color: #1c2b2d;
}

ul {
    list-style-type: circle;
    padding: 1.5rem;
}

ul li {
    font-size: 1.4rem;
    padding: 5px 0;
}